<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.serviceModel>

    <client>
      
      <!-- must match the address on which iis works -->
      <endpoint address="http://localhost:1234/InventoryManager.svc"
                binding="wsHttpBinding"
                contract="Demo.Client.Contracts.IInventoryService"/>
    </client>

    <bindings>
      <wsHttpBinding>
        <binding maxReceivedMessageSize="2000000"
                 sendTimeout="00:45:00">
          <reliableSession enabled="true" />
          <security mode="Message">
            <message clientCredentialType="Windows"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>

  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0"
                      sku=".NETFramework,Version=v4.5.2"/>
  </startup>

</configuration>
