<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.serviceModel>

    <client>

      <!-- must match the address on which iis works -->
      <!-- need machine name because of the cert -->
      <endpoint address="https://DESKTOP-HOE191E/Demo.WebHost/InventoryService.svc"
                binding="wsHttpBinding"
                contract="Demo.Client.Contracts.IInventoryService"/>
    </client>

    <bindings>
      <wsHttpBinding>
        <binding maxReceivedMessageSize="2000000"
                 sendTimeout="00:10:00">

          <!--
          <security mode="Message">
            <message clientCredentialType="Windows" />
          </security>
          -->
          <!--
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
          -->
          
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
          </security>
          
          <!--<security mode="Transport">
            <transport clientCredentialType="Basic" />
          </security>-->


        </binding>
      </wsHttpBinding>
    </bindings>

  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0"
                      sku=".NETFramework,Version=v4.5.2"/>
  </startup>

</configuration>
